@{
    ViewBag.Title = "Welcom to What-Eat-Today";
} <body style="background-color:lightgoldenrodyellow">
    <div class="row" style="background-color:#FFDAB9">

        <center><img src="~/Content/logo.png" width="500px" class="animated bounceIn"></center>
    </div>
    <div class="row" style="background-color:#FFCC66"><center><h1>Famous Resterant</h1></center><br /></div>
    <div class="row" style="background-color:#FFCC66">
        <div class="col-md-3" >
            <center>
                <center><a href="https://www.facebook.com/%E0%B9%80%E0%B8%9B%E0%B8%B2-%E0%B9%80%E0%B8%99%E0%B8%B7%E0%B9%89%E0%B8%AD%E0%B8%A2%E0%B9%88%E0%B8%B2%E0%B8%87%E0%B9%80%E0%B8%81%E0%B8%B2%E0%B8%AB%E0%B8%A5%E0%B8%B5-444503882378264/"><img src="~/Content/pic1.jpg" width="250px" class="animated bounceIn"></a></center>
                <h2>เปาเนื้อย่างเกาหลี</h2>
                </center>
        </div>
        <div class="col-md-3">
            <center>
                <center><a href="https://www.facebook.com/%E0%B9%80%E0%B8%95%E0%B8%B5%E0%B9%8B%E0%B8%A2%E0%B8%A7%E0%B9%80%E0%B8%A3%E0%B8%B7%E0%B8%AD-%E0%B8%A5%E0%B8%AD%E0%B8%87%E0%B9%80%E0%B8%9A%E0%B8%B4%E0%B9%88%E0%B8%87-%E0%B8%AA%E0%B8%B9%E0%B8%95%E0%B8%A3%E0%B9%80%E0%B8%94%E0%B9%87%E0%B8%94-%E0%B9%81%E0%B8%8B%E0%B9%88%E0%B8%9A%E0%B9%84%E0%B8%A1%E0%B9%88%E0%B8%95%E0%B9%89%E0%B8%AD%E0%B8%87%E0%B8%9B%E0%B8%A3%E0%B8%B8%E0%B8%87-315976908820988/"><img src="~/Content/pic2.jpg" width="250px" class="animated bounceIn"></a></center>
                <h2>ก๋วยเตี๋ยวเรือลองเบิ่ง</h2>
            </center>
        </div>
        <div class="col-md-3">
            <center>
                <center><a href="https://www.facebook.com/pages/%E0%B8%84%E0%B8%A3%E0%B8%B1%E0%B8%A7-%E0%B8%A3%E0%B8%AA%E0%B8%99%E0%B8%B4%E0%B8%A2%E0%B8%A1-%E0%B8%AB%E0%B8%99%E0%B9%89%E0%B8%B2-%E0%B8%A1%E0%B8%AD/272141822995346"><img src="~/Content/pic3.jpg" width="250" class="animated bounceIn"></a></center>
                <h2>ร้านข้าวรสนิยม</h2>
            </center>
        </div>
        <div class="col-md-3">
            <center>
                <center><a href="https://www.facebook.com/%E0%B9%80%E0%B8%96%E0%B8%B7%E0%B9%88%E0%B8%AD%E0%B8%99%E0%B8%A5%E0%B8%B0%E0%B8%A1%E0%B8%B8%E0%B8%99-376607912405149/"><img src="~/Content/pic4.jpg" height="200px" class="animated bounceIn"></a></center>
                <h2>คาเฟ่เถื่อนละมุน</h2>
            </center>
        </div>
    </div> <br /><br />

    <div class="jumbotron animated bounceInDown" style="background-color:darksalmon">
        <h1>What Eat Today!</h1>
        <p class="lead">Welcome to WhatEatToday Application will help you find your fevorite meal and Give you a better choice Enjoy !!</p>
        @using (Html.BeginForm())
        {<br />
        <rigth>
            <div>
                <p>
                    ค้นหาร้าน: @Html.TextBox("SearchString", null, new { @class = "form-control" })
                    <br />
                    <input type="submit" class="btn btn-primary" value="Search" />
                    <br />
                </p>
            </div>
        </rigth><br />
        }
    </div> <br />

    <div class="row" style="background-color:#FF9933">
        <div class="col-md-3">
            <center>
                <h2>Home</h2>
                <center><a href="~/Home"><img src="~/Content/menu1.png" width="300px" class="animated bounceIn"></a></center>
            </center>
        </div>
        <div class="col-md-3">
            <center>
                <h2>Find Shop</h2>
                <center><a href="~/Home"><img src="~/Content/menu2.png" width="300px" class="animated bounceIn"></a></center>
            </center>
        </div>
        <div class="col-md-3">
            <center>
                <h2>Games</h2>
                <center><a href="~/Home"><img src="~/Content/menu3.png" width="300px" class="animated bounceIn"></a></center>
            </center>
        </div>
        <div class="col-md-3">
            <center>
                <h2>Favorit</h2>
                <center><a href="~/Home"><img src="~/Content/menu4.png" width="300px" class="animated bounceIn"></a></center>
            </center>
        </div>
    </div>
</body>
