@{
    ViewBag.Title = "Login";
} 
<body style="background-color:lightgoldenrodyellow">
      
          <div class="row" style="background-color:#FFDAB9">

              <img src="~/Content/logo.png" width="500px" class="animated bounceIn">
    
    </div>
    <div class="row" style="background-color:#FFCC66"><center><h1><br />Please Login</h1></center><br /></div>
    <div class="row" style="background-color:#FFCC66">
        <div class="col-md-3">
            <br />
              <button class="btn btn-danger btn-lg btn-block">Login By Email</button><br /><br />
              <button class="btn btn-primary btn-lg btn-block">Login By Facebook</button><br /><br />
        
        </div>
    </div> <br /><br />
 <br />
  
</body>
