@model IEnumerable<WhatEatToday.Models.Shop>

@{
    ViewBag.Title = "Index";
  
}

<center>
    @using (Html.BeginForm())
    {
        <br />
        <table>
            <tr>
                <td>
                    ค้นหาร้าน:&nbsp;&nbsp;
                </td>
                <td>
                    @Html.TextBox("SearchString", null, new { @class = "form-control" })
                </td>
                <td> &nbsp;&nbsp;<input type="submit" class="btn btn-danger btn-lg " value="Search" />  </td>
            </tr>
        </table>
        <br /><br />
    }
    </center>
    @{
        if (IsPost == true)
        {
            foreach (var shop in Model)
            {
                <div class="container">
                    <div class="jumbotron">
                        <div class="row">
                            <div class="col-lg-12">
                                <h4>
                                    @Html.DisplayFor(modelItem => shop.name)
                                    <img src=@Url.Content("~/Content/images/"+(shop.pic)) style="width: 100px;height: auto" />

                                </h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                รายละเอียดร้านค้า
                                <br />
                                @Html.DisplayFor(modelItem => shop.details)
                            </div>
                            <div class="col-lg-6">
                                ประเภทร้านค้า
                                <br />
                                @Html.DisplayFor(modelItem => shop.type)
                            </div>
                        </div>
                    </div>
                </div>
            }
        }else
        {

        }
    }
