
@model IEnumerable<WhatEatToday.Models.Shop>

@{
    ViewBag.Title = "Game2";
    Layout = "~/Views/Shared/FoodBarIdex.cshtml";
}


<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Number Combination</title>
    <link rel="stylesheet" href="@Url.Content("~/Content/css/")style2.css" type="text/css" />
    <script src="https://code.jquery.com/jquery-3.1.0.js"></script>
    <script src="@Url.Content("~/Content/js/")app.js"></script>
    <script src="@Url.Content("~/Content/js/")app2.js"></script>
    <style>
        body {
            font-family: sans-serif;
            font-size: 20px;
            margin: 20px;
            background-color: #FFFFCC;
        }


        .container {
            max-width: 1000px;
            margin: 0 auto;
            position: relative;
        }

        .main-text {
            text-align: center;
            background-color: pink;
            border: 0px solid darkorange;
            color: darkred;
            font-size: 1.4em;
            font-weight: 600;
            margin-bottom: 1em;
        }

        .number-selector {
            border: 0px solid darkorange;
            font-size: 2em;
            color: blue;
        }
            /*
        .number-selector > div  {
          display: flex;

        } */

            .number-selector > div > div {
                background-image: url('../Content/images/bgdiv.png');
                background-repeat: no-repeat;
                background-size: 250px;
                cursor: pointer;
                /* flex-grow: 1; */
                height: 300px;
                border: 0px solid darkorange;
                /* display: flex; */
                align-items: center;
                /* justify-content: center; */
                background-position: center;
            }

        .number-selector1 > div > div {
            background-image: url('../Content/images/bgdiv.png');
            background-repeat: no-repeat;
            background-size: 250px;
            cursor: pointer;
            /* flex-grow: 1; */
            height: 300px;
            border: 0px solid darkorange;
            /* display: flex; */
            align-items: center;
            /* justify-content: center; */
            background-position: center;
        }


        .number-selector2 > div > div {
            background-image: url('../Content/images/bgdiv.png');
            background-repeat: no-repeat;
            background-size: 250px;
            cursor: pointer;
            /* flex-grow: 1; */
            height: 300px;
            border: 0px solid darkorange;
            /* display: flex; */
            align-items: center;
            /* justify-content: center; */
            background-position: center;
        }

        .number-selector3 > div > div {
            background-image: url('../Content/images/bgdiv.png');
            background-repeat: no-repeat;
            background-size: 250px;
            cursor: pointer;
            /* flex-grow: 1; */
            height: 300px;
            border: 0px solid darkorange;
            /* display: flex; */
            align-items: center;
            /* justify-content: center; */
            background-position: center;
        }

        .number-selector4 > div > div {
            background-image: url('../Content/images/bgdiv.png');
            background-repeat: no-repeat;
            background-size: 250px;
            cursor: pointer;
            /* flex-grow: 1; */
            height: 300px;
            border: 0px solid darkorange;
            /* display: flex; */
            align-items: center;
            /* justify-content: center; */
            background-position: center;
        }
         .number-selector5 > div > div {
                background-image: url('../Content/images/bgdiv.png');
                background-repeat: no-repeat;
                background-size: 250px;
                cursor: pointer;
                /* flex-grow: 1; */
                height: 300px;
                border: 0px solid darkorange;
                /* display: flex; */
                align-items: center;
                /* justify-content: center; */
                background-position: center;
            }

        .number-selector6 > div > div {
            background-image: url('../Content/images/bgdiv.png');
            background-repeat: no-repeat;
            background-size: 250px;
            cursor: pointer;
            /* flex-grow: 1; */
            height: 300px;
            border: 0px solid darkorange;
            /* display: flex; */
            align-items: center;
            /* justify-content: center; */
            background-position: center;
        }


        .number-selector7 > div > div {
            background-image: url('../Content/images/bgdiv.png');
            background-repeat: no-repeat;
            background-size: 250px;
            cursor: pointer;
            /* flex-grow: 1; */
            height: 300px;
            border: 0px solid darkorange;
            /* display: flex; */
            align-items: center;
            /* justify-content: center; */
            background-position: center;
        }

        .number-selector8 > div > div {
            background-image: url('../Content/images/bgdiv.png');
            background-repeat: no-repeat;
            background-size: 250px;
            cursor: pointer;
            /* flex-grow: 1; */
            height: 300px;
            border: 0px solid darkorange;
            /* display: flex; */
            align-items: center;
            /* justify-content: center; */
            background-position: center;
        }

        .number-selector9 > div > div {
            background-image: url('../Content/images/bgdiv.png');
            background-repeat: no-repeat;
            background-size: 250px;
            cursor: pointer;
            /* flex-grow: 1; */
            height: 300px;
            border: 0px solid darkorange;
            /* display: flex; */
            align-items: center;
            /* justify-content: center; */
            background-position: center;
        }

        .number-selector > div > div.selected {
            background-image: url('../Content/images/p1.png');
            background-repeat: no-repeat;
            background-size: 200px;
            background-position: center;
        }

        .number-selector1 > div > div.selected {
            background-image: url('../Content/images/p4.png');
            background-repeat: no-repeat;
            background-size: 200px;
            background-position: center;
        }

        .number-selector2 > div > div.selected {
            background-image: url('../Content/images/p2.png');
            background-repeat: no-repeat;
            background-size: 200px;
            background-position: center;
        }

        .number-selector3 > div > div.selected {
            background-image: url('../Content/images/p3.png');
            background-repeat: no-repeat;
            background-size: 200px;
            background-position: center;
        }

        .number-selector4 > div > div.selected {
            background-image: url('../Content/images/p5.png');
            background-repeat: no-repeat;
            background-size: 200px;
            background-position: center;
        }

         .number-selector5 > div > div.selected {
            background-image: url('../Content/images/p6.png');
            background-repeat: no-repeat;
            background-size: 200px;
            background-position: center;
        }

        .number-selector6 > div > div.selected {
            background-image: url('../Content/images/p7.png');
            background-repeat: no-repeat;
            background-size: 200px;
            background-position: center;
        }

        .number-selector7 > div > div.selected {
            background-image: url('../Content/images/p8.png');
            background-repeat: no-repeat;
            background-size: 200px;
            background-position: center;
        }

        .number-selector8 > div > div.selected {
            background-image: url('../Content/images/p9.png');
            background-repeat: no-repeat;
            background-size: 200px;
            background-position: center;
        }

        .number-selector9 > div > div.selected {
            background-image: url('../Content/images/p10.png');
            background-repeat: no-repeat;
            background-size: 200px;
            background-position: center;
        }

        .combinations-display p {
            margin: 0.2em 0;
        }

        .combinations-display .combinations-input {
            width: 100%;
            border: 1px solid darkorange;
            font-size: 1.6em;
            color: blue;
            padding: 0.2em 0;
        }

        .combinations-display button {
            padding: 0.2em 0.8em;
            font-weight: 600;
        }

        .modal {
            position: fixed;
            top: 40%;
            left: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            visibility: hidden;
        }

            .modal > div {
                margin-left: -100%;
                background-color: rgba(98, 98, 98, 0.9);
                color: #ffffff;
                padding: 0.4em 1.4em;
                border-radius: 0.4em;
            }

            .modal.active {
                visibility: visible;
                opacity: 1;
            }

                .modal.active.active-fade {
                    opacity: 0;
                    transition: opacity 300ms ease-out;
                }
        </style>
        </head > <body > <br> <br> <div class="container">
    <div class="main-text">ไพ่ยิปซีทำนายอาหาร </div>
                                       <p>เลือกไพ่ 1 ใบ แล้วกดตกลง </p>
    <table width="1000px">
        <tr>
            <td width="250"> <div class="number-selector3" id="twos" value=1> <div> <div> <br> &nbsp; </div> </div> </div> </td> &nbsp;
            <td width="250">
                <div class="number-selector9" id="threes" value=2> <div> <div> <br> &nbsp;</div> </div> </div>
            </td> &nbsp;
            <td width="250"> <div class="number-selector" id="twos" value=3> <div> <div> <br> &nbsp;</div> </div> </div> </td> &nbsp;
            <td width="250"> <div class="number-selector2" id="twos" value=4> <div> <div> <br> &nbsp;</div> </div> </div> </td> &nbsp;
            <td width="250"> <div class="number-selector4" id="threes" value=5> <div> <div> <br> &nbsp;</div> </div> </div> </td>
        </tr>
        <tr>
            &nbsp;
            <td> <br> <div class="number-selector5" id="twos" value=6> <div> <div> <br> &nbsp;</div> </div> </div> </td> &nbsp;
            <td> <br> <div class="number-selector7" id="threes" value=7> <div> <div> <br> &nbsp;</div> </div> </div> </td> &nbsp;
            <td> <br> <div class="number-selector6" id="twos" value=8> <div> <div> <br> &nbsp; </div> </div> </div> </td> &nbsp;
            <td> <br> <div class="number-selector8" id="threes" value=9> <div> <div> <br> &nbsp;</div> </div> </div> </td> &nbsp;
            <td> <br> <div class="number-selector1" id="twos" value=1> <div> <div> <br> &nbsp;</div> </div> </div> </td>
        </tr>
</table> <br><button class="btn btn-danger btn-lg" onclick="Random()">ตกลง</button>
                                       
                                       <center>
                                           <br /> <h2 id="demo2"> วันนี้กินอะไรดี </h2>
                                       </center>

       
  </body>



    <SCRIPT LANGUAGE="JAVASCRIPT">
     function Random(){
        var r_text = new Array ();
        r_text[0] = "ข้าวไข่เจียว ร้าน ครัวบ้านฉัน";
        r_text[1] = "ก๋วยเต๊๋ยวน้ำตก ร้าน ลองเบิ่ง";
        r_text[2] = "ข้าวผัดกระเพราไก่กรอบ ร้าน รสนิยม";
        r_text[3] = "ชาบู ร้าน หม้อหน้ามอ";
        r_text[4] = "ก๋วยเตี๋ยวเรือ ร้าน AB ";
        r_text[5] = " ส้มตำไก่ย่าง ร้าน ก.เก่ง";
        r_text[6] = " เครปเย็น ร้าน House of Crepe";
        r_text[7] = "ก๋วยจั๊บญวณ ร้าน ร่มไม้ชายคา";
        r_text[8] = " แหนมเนือง ร้าน VTแหนมเนือง";
        r_text[9] = "ยำไก่เเซ่บ ร้าน ป้าไหมต้มเเซ่บ ";
        r_text[10] = "บิงซูบราวนี่คาราเมล ร้าน ไอเย็นI-Yen";
    var i = Math.floor(r_text.length * Math.random());

    $('#demo2').text( r_text[i]  );

    // var bgcolorlist=new Array("#228B22", "#FFD700", "#ADFF2F", "#FF69B4", "#CD5C5C", "#4B0082", "#7CFC00", "#ADD8E6", "#E84643", "#ED0A07", "#EA2907", "#E5294B", "#E00D26", "#FF3030", "#FC7500", "#F95700", "#F43900", "#F95620")

    // document.body.style.background=bgcolorlist[Math.floor(Math.random()*bgcolorlist.length)];
}
</SCRIPT>
<br>
<br>
<br>
<br>
<style type="text/css">
    /* body,td,th {
         color: #000;
         font-family: Helvetica, sans-serif;
     */
