@{
    ViewBag.Title = "Game2";
    Layout = "~/Views/Shared/FoodBarIdex.cshtml";
}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Number Combination</title>
    <link rel="stylesheet" href="@Url.Content("~/Content/css/")style2.css" type="text/css" />
    <script src="https://code.jquery.com/jquery-3.1.0.js"></script>
    <script src="@Url.Content("~/Content/js/")app.js"></script>
    <script src="@Url.Content("~/Content/js/")app2.js"></script>
</head>

<body>
    <div class="container">
        <div class="main-text">
            เกมส์จับคู่ภาพ
        </div>

        <br>

        <table width="950px">
            <tr>
                <td>
                    <div class="number-selector">
                        <div>
                            <div> <br> &nbsp;</div>
                        </div>
                    </div>
                </td>
                &nbsp;
                <td>
                    <div class="number-selector">
                        <div>
                            <div> <br> &nbsp;</div>
                        </div>
                    </div>
                </td>
                &nbsp;
                <td>
                    <div class="number-selector">
                        <div>
                            <div> <br> &nbsp;</div>
                        </div>
                    </div>
                </td>
                &nbsp;
                <td>
                    <div class="number-selector">
                        <div>
                            <div> <br> &nbsp;</div>
                        </div>
                    </div>
                </td>
                &nbsp;
                <td>
                    <div class="number-selector">
                        <div>
                            <div> <br> &nbsp;</div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                &nbsp;
                <td>
                    <br>
                    <div class="number-selector">
                        <div>
                            <div> <br> &nbsp;</div>
                        </div>
                    </div>
                </td>
                &nbsp;
                <td>
                    <br><div class="number-selector">
                        <div>
                            <div> <br> &nbsp;</div>
                        </div>
                    </div>
                </td>
                &nbsp;
                <td>
                    <br><div class="number-selector">
                        <div>
                            <div> <br> &nbsp;</div>
                        </div>
                    </div>
                </td>
                &nbsp;
                <td>
                    <br><div class="number-selector">
                        <div>
                            <div> <br> &nbsp;</div>
                        </div>
                    </div>
                </td>
                &nbsp;
                <td>
                    <br><div class="number-selector">
                        <div>
                            <div> <br> &nbsp;</div>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
        <br>

        <div class="combinations-display">
            <h4>เลข 2 ตัว</h4>
            <p>
                <input type="text" id="twos" class="combinations-input" readonly />
            </p>
            <button class="copy-button" id="twos-button" disabled>คัดลอก</button>
        </div>

        <div class="combinations-display">
            <h4>เลข 3 ตัว</h4>
            <p>
                <input type="text" id="threes" class="combinations-input" readonly />
            </p>
            <button class="copy-button" id="threes-button" disabled>คัดลอก</button>
        </div>

        <div class="modal">
            <div>
                คัดลอกแล้ว
            </div>
        </div>
    </div>

    
</body>

</html>
