@{
    ViewBag.Title = "Game3";
    Layout = "~/Views/Shared/FoodBarIdex.cshtml";
}

<br /><br />
<form name="autoSumForm">
            <br>
            <center>
                <br>
                <button class="btn btn-warning btn-lg " disabled><h1 style="color:maroon">กรอกข้อมูลตามกฏโหราศาสตร์</h1></button> 
               <br /> <a href="~/Game/rule"><h5>คลิกก่อนกรอก</h5></a><br>
                <div class="col" style="background-color: salmon">
                    <br>
                    <table border="0" style="color: #330000">
                        <tr style="background-color: salmon">
                            <td>
                                <h4>&nbsp;วันเกิด: &nbsp;</h4>
                            </td>
                            <td>
                            <td>
                                <h4>
                                    <input type=text name="target" value="" onFocus="startCalc();" size="5" onBlur="stopCalc();">
                                </h4>
                            </td>
                            <td>
                                <h4>&nbsp;วันที่เกิด: &nbsp;</h4>
                            </td>
                            <td>
                                <h4>
                                    <input type=text name="sumassess" value="" onFocus="startCalc();" size="5" onBlur="stopCalc();">
                                </h4>
                            </td>
                            <td>
                                <h4>&nbsp;เดือนเกิด:&nbsp; </h4>
                            </td>
                            <td>
                                <h4>
                                    <input type=text name="sumassess2" value="" size="5" onFocus="startCalc();" onBlur="stopCalc();">
                                </h4>
                            </td>
                            <td>
                                <h4>&nbsp;ปีเกิด:&nbsp; </h4>
                            </td>
                            <td>
                                <h4>
                                    <input type=text name="sumassess3" value="" size="5" onFocus="startCalc();" onBlur="stopCalc();">
                                </h4>
                            </td>

                            </td>
                    </table>
                    <br>
                    <h4>&nbsp;รหัสลับของคุณวันนี้:&nbsp; </h4>

                    <h4><input size="5" type=text name="gap"></h4> <br><br>
                </div>


        </form>
        <br>
        <h2 id="demo"> วันนี้กินอะไรดี </h2>
        <br>
        <button class="btn btn-warning btn-primary btn-lg">ล้างข้อมูล</button>
        </center>
        <br /><br />

