
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/FoodBarIdex.cshtml";
}

<!--================ Banner Area =================-->
<section class="banner_area">
    <div class="banner_inner d-flex align-items-center">
        <div class="container">
            <div class="banner_content text-center">
                <h1>Games</h1>
                <div class="page_link">
                    <a href="~/Home/Index">Home</a>
                    <a href="~/Game/Index">Game</a>
                </div>
            </div>
        </div>
        <div class="shape shape1"></div>
        <div class="shape shape2"></div>
        <div class="shape shape3"></div>
        <div class="shape shape4"></div>
        <div class="shape shape5"></div>
        <div class="shape shape6"></div>
        <div class="shape shape7"></div>
    </div>
</section>
<!--================End Banner Area =================-->


<br /><br /><br />
<center>
                <div class="row">
                    <div class="col-lg-4" >
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <br /><br />
                            <a href="~/Game/Game1"><img src="~/Content/images/game1.png" width="250px" /></a><br />
                            <center> <h3> เกมส์หิวตอนสตาร์ทรถแล้ว</h3></center><br />
                    </div>
                    <div class="col-lg-4" >
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <br /><br />
                            <a href="~/Game/Game2">
                                <img src="~/Content/images/game2.png" width="250px" />
                            </a><br />
                            <center> <h3> เกมส์หิวตอนใกล้พัก</h3></center><br />
                    </div>
                    <div class="col-lg-4" >
                         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <br /><br />
                            <a href="~/Game/Game3">
                                <img src="~/Content/images/game3.png" width="250px" />
                            </a><br />
                            <center>  <h3>เกมส์หิวตอนเรียนอยู่</h3></center><br />
                    </div>
                </div>     
                 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</center>

<div class="row" style="background-color:#EE7621">
    <div class="col-lg-12" style="color:white" style="background-color:#EE7621">
        <center>
            <br /><br />Copyright &copy;
            <script>document.write(new Date().getFullYear());</script> What Eat Today |
            Webapplication 204359 &nbsp;&nbsp;<i class="fa fa-heart-o" aria-hidden="true"></i> <br /><br /><br />
        </center>
    </div>
</div>



