
@{
    ViewBag.Title = "Index";
}

<h2>Games</h2>

<table>
    <tr>
        <td> 
        <img src="game1.png" width="500px" />
        เกมส์วงล้อมหัศจรรย์
        </td>

        <td>
        <img src="game2.png" width="500px" />
        เกมส์จับคู่ภาพ
        </td>

        <td>
        <img src="game3.png" width="500px" />
        เกมส์ดูดวง
        </td>


    </tr>

</table>

