
@{
    ViewBag.Title = "Index";
}
<center>
    <button type="button" class="btn btn-lg btn-danger btn-block" disabled> <h2>Games</h2></button>
</center>
<br /><br /><br />
<center>
                <div class="row">
                    <div class="col-lg-4" style="background-color:burlywood;">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <br /><br />
                            <a href="~/Game/Game1"><img src="~/Content/images/game1.png" width="250px" /></a><br />
                            <center> <h3> เกมส์วงล้อมหัศจรรย์</h3></center><br />
                    </div>
                    <div class="col-lg-4" style="background-color:burlywood;">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <br /><br />
                            <a href="~/Game/Game2">
                                <img src="~/Content/images/game2.png" width="250px" />
                            </a><br />
                            <center> <h3> เกมส์จับคู่ภาพ</h3></center><br />
                    </div>
                    <div class="col-lg-4" style="background-color:burlywood;">
                         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <br /><br />
                            <a href="~/Game/Game3">
                                <img src="~/Content/images/game3.png" width="250px" />
                            </a><br />
                            <center>  <h3>เกมส์ดูดวง</h3></center><br />
                    </div>
                </div>     
                 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</center>
<br /><br /><br /><br /><br /><br />
<div class="row" style="background-color:#FF9933">
    <div class="col-md-3">
        <center>
            <h2>Home</h2>
            <center><a href="~/Home"><img src="~/Content/menu1.png" width="300px" class="animated bounceIn"></a></center>
        </center>
    </div>
    <div class="col-md-3">
        <center>
            <h2>Find Shop</h2>
            <center><a href="~/Shops/FindShop"><img src="~/Content/menu2.png" width="300px" class="animated bounceIn"></a></center>
        </center>
    </div>
    <div class="col-md-3">
        <center>
            <h2>Games</h2>
            <center><a href="~/Game/Index"><img src="~/Content/menu3.png" width="300px" class="animated bounceIn"></a></center>
        </center>
    </div>
    <div class="col-md-3">
        <center>
            <h2>Favorite</h2>
            <center><a href="~/Home"><img src="~/Content/menu4.png" width="300px" class="animated bounceIn"></a></center>
        </center>
    </div>
</div>


