@{
    ViewBag.Title = "Rule";
}
        <form name="autoSumForm">
            <br>

            <center>
                <br>
                <h1 style="color:maroon">กฏโหราศาสตร์</h1>
                <a href="~/Game/Game3"><h5>คลิกเพื่อกลับไปเล่นเกมส์</h5></a><br>

                <div width="40%" style="background-color: sandybrown">
                    <h3>กรอกข้อมูลดังนี้: </h3>
                </div><br>
                <table>
                    <tr>
                        <td width="26%" style="background-color: salmon">
                            <h4>
                                <b>&nbsp;&nbsp;วันเกิด จันทร์-อาทิตย์ </b><br><br>
                                &nbsp;&nbsp;จันทร์ ให้กรอก เลข 1 <br>
                                &nbsp;&nbsp;อังคาร ให้กรอก เลข 2 <br>
                                &nbsp;&nbsp;พุธ ให้กรอก เลข 3 <br>
                                &nbsp;&nbsp;พฤหัสบดี ให้กรอก เลข 4 <br>
                                &nbsp;&nbsp;ศุกร์ ให้กรอก เลข 5 <br>
                                &nbsp;&nbsp;เสาร์ ให้กรอก เลข 6 <br>
                                &nbsp;&nbsp;อาทิตย์ ให้กรอก เลข 7 <br><br><br><br><br><br><br><br>
                            </h4>
                        </td>
                        <td style="background-color: #FF9999">
                            <h4>
                                <br><b>&nbsp;&nbsp;เดือนเกิด: </b><br><br>
                                &nbsp;&nbsp;มกราคม ให้กรอก เลข 1 <br>
                                &nbsp;&nbsp;กุมภาพันธ์ ให้กรอก เลข 2 <br>
                                &nbsp;&nbsp;มีนาคม ให้กรอก เลข 3 <br>
                                &nbsp;&nbsp;เมษายน ให้กรอก เลข 4 <br>
                                &nbsp;&nbsp;พฤษภาคม ให้กรอก เลข 5 <br>
                                &nbsp;&nbsp;มิถุนายน ให้กรอก เลข 6 <br>
                                &nbsp;&nbsp;กรกฎาคม ให้กรอก เลข 7 <br>
                                &nbsp;&nbsp;สิงหาคม ให้กรอก เลข 8 <br>
                                &nbsp;&nbsp;กันยายน ให้กรอก เลข 9 <br>
                                &nbsp;&nbsp;ตุลาคม ให้กรอก เลข 10 <br>
                                &nbsp;&nbsp;พฤศจิกายน ให้กรอก เลข 11&nbsp;&nbsp;  <br>
                                &nbsp;&nbsp;ธันวาคม ให้กรอก เลข 12 <br><br><br><br>
                            </h4>
                        </td>
                        <td style="background-color:#FFCC33 ">
                            <h4>
                                <br><b>&nbsp;&nbsp;วันที่เกิดกรอกได้เลย: </b><br><br>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1-31
                                &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;

                                <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                            </h4>
                        </td>
                        <td style="background-color: #CCFFCC">
                            <h4>
                                <br><b>&nbsp;&nbsp;ปีเกิดกรอกเป็น ค.ศ.&nbsp;: </b><br><br>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                เช่น 1997
                                &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                                <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                            </h4>
                        </td>
                    </tr>
                </table>
                <br><br><br>


            </center>
<div class="row" style="background-color:#FF9933">
    <div class="col-md-3">
        <center>
            <h2>Home</h2>
            <center><a href="~/Home"><img src="~/Content/menu1.png" width="300px" class="animated bounceIn"></a></center>
        </center>
    </div>
    <div class="col-md-3">
        <center>
            <h2>Find Shop</h2>
            <center><a href="~/Shops/FindShop"><img src="~/Content/menu2.png" width="300px" class="animated bounceIn"></a></center>
        </center>
    </div>
    <div class="col-md-3">
        <center>
            <h2>Games</h2>
            <center><a href="~/Game/Index"><img src="~/Content/menu3.png" width="300px" class="animated bounceIn"></a></center>
        </center>
    </div>
    <div class="col-md-3">
        <center>
            <h2>Favorit</h2>
            <center><a href="~/Home"><img src="~/Content/menu4.png" width="300px" class="animated bounceIn"></a></center>
        </center>
    </div>
</div>
<div>
